<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}"></head>
<body>
<header th:replace="~{layout/layout :: header}"></header>
<div class="container my-4">
  <div class="card text-bg-danger mb-3">
    <div class="card-header">Error: Acceso denegado </div>
    <div class="card-body">
      <h5 class="card-title">Lo sentimos <span sec:authentication="name"></span>, no tienes permisos para acceder al recurso</h5>
      <a th:href="@{/listar}" class="btn btn-outline-light">Ir al inicio</a>
    </div>
  </div>
</div>
<footer th:replace="~{layout/layout :: footer}"></footer>
</body>
</html>